* {
  box-sizing: border-box;
}

html {

  font-family: Arimo;
  font-size: 16px;
  line-height: 20px;
  background-color: #fff;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  float: left;
}

nav ul li a {
  padding: 5px 10px;
  text-decoration: none;
  background-color: #ddd;
  margin: 10px;
  display: block;
}

nav:after {
  content: '';
  float: none;
  display: block;
}

.album-list {
  position: fixed;
  width: 30%;
  left: 0;
  top: 0;
  bottom: 90px;
  overflow: hidden;
  border-right: 1px solid #ddd;
}
.album-list .search input {
  width: 100%;
  padding: 12px 25px;
  border: none;
  background-color: #f5f5f5;
}

.album-list ul {
  list-style: none;
  position: absolute;
  top: 40px;
  bottom: 0;
  left: 0;
  padding: 0;
  margin: 0;
  width: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
}

.album-list ul a {
  display: block;
  text-decoration: none;
  color: black;
  padding: 8px 20px;
  border-left: 5px solid transparent;
  font-size: 16px;
  line-height: 20px;
}

.album-list .artists {
  color: #555;
  display: block;
  margin-bottom: 2px;
  font-size: 80%;
}

.album-list ul a:hover {
  border-left-color: red;
  background-color: rgba(255, 0, 0, 0.05);
}

.album-detail {
  position: fixed;
  width: 70%;
  right: 0;
  top: 0;
  bottom: 90px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.album-detail h2 {
  margin: 20px;
}

.album-detail .formats {
  color: #aaa;
  font-size: 80%;
}

.album-detail .pos {
  text-align: right;
  color: #888;
}

.album-detail .playing .icon {
  color: red;
}

.audio-control {
  position: fixed;
  left: 0;
  right: 0;
  height: 90px;
  bottom: 0;
  padding: 20px;
  border-top: 1px solid #ddd;
  background-color: #fff;
}

.audio-control .current-track .toggle {
  float: left;
  position: absolute;
  cursor: pointer;
  margin-right: 10px;
  height: 60px;
  z-index: 500;
}

.audio-control .current-track .toggle .icon {
  font-size: 45px;
  color: #555;
  color: red;
}

.audio-control .current-track .position {
  float: right;
  font-size: 40px;
  line-height: 50px;
  color: #ddd;
  font-family: monospace;
  margin: 0;
}

.audio-control .current-track .what {
  margin: 0;
  float: left;
  font-size: 40px;
  width: 100%;
  line-height: 50px;
  position: absolute;
  padding-left: 50px;
  padding-right: 170px;
  overflow: hidden;
}

.audio-control .current-track .what .artist {
  padding-right: 10px;
  font-weight: bold;
}

ul.players {
  position: absolute;
  top: 0;
  right: 0;
  list-style: none;
  padding: 0;
  margin: 0;
}

ul.players li {
  float: left;
  padding: 2px 4px;
  font-size: 12px;
  line-height: 14px;
  color: #fff;
  background-color: #aaa;
  margin-right: 4px;
  cursor: pointer;
}

.album-detail table {
  border-collapse: collapse;
  width: 100%;
}

ul.players li.active {
  background-color: red;
}

.album-detail table td {
  padding: 5px 10px;
  border-bottom: 1px solid #f0f0f0;
}

.album-detail table tr:last-child td {
  border-bottom: none;
}

.album-detail table tr {
  border-left: 5px solid transparent;
}

.album-detail table tr:hover {
  background-color: rgba(255, 0, 0, 0.05);
  border-left-color: red;
  cursor: pointer;
}

.album-detail table tr:hover .icon {
  color: #FF7474;
}

.album-detail table tr.playing:hover .icon {
  color: red;
}

.play-control {
  cursor: pointer;
  color: #eee;
  font-size: 18px;
}

.progress {
  position: absolute;
  width: 100%;
  bottom: 0;
  height: 10px;
  background-color: #999;
  left: 0;
}

.progress .marker {
  position: absolute;
  height: 12px;
  width: 4px;
  background-color: red;
  top: -6px;
  //transition: left 1s;
}

body.full {
  background-color: #f0f0f0;
}

.audio-status {
  text-align: center;
  width: 50%;
  margin: 0 auto;
  margin-top: 80px;
  padding: 20px;
  font-size: 23px;
  position: relative;
  background-color: #fff;
}


.audio-status .position {
  display: none;
}

.audio-status .what {
  font-size: 48px;
  line-height: 68px;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 40px;
}

.audio-status .what .artist {
  font-weight: bold;
  display: block;
}


.audio-status .what .title {
  display:block;
}